.Preview {
    display: flex;
    align-items: center;
    background: rgba(187, 180, 180, 0.4);
    height: 64px;
    padding: 0 5px;
}

.UploadIcon {
    height: 32px;
    width: 32px;
}

.PreviewImageWrapper {
    display: flex;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 3px;
}

.PreviewImage {
    height: 64px;
    width: 64px;
}