.Preview {
    display: flex;
    align-items: center;
    background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 93, 0.9026961126247374) 0%, rgba(0, 212, 255, 1) 100%);
}

.UploadIcon {
    height: 32px;
    width: 32px;
}

.PreviewImageWrapper {
    display: flex;
    height: 64px;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 3px;
}

.PreviewImage {
    height: 64px;
    width: 64px;
}